---
layout: default
seo:
  hide-from-google: true
---

<section class="grid md:grid-cols-3">

  <!-- Image -->
  <div class="bg-image-style min-h-[92vh] order-last md:order-first mb-10p mx-10p md:m-0" style="background-image: url(/uploads/images/manamei-38.jpg);"></div>

  <!-- Contact Form -->
  <div class="md:col-span-2 p-10p flex items-center justify-center"> 
    <div>
      <h1 class="uppercase mb-8">Contact</h1>

      <!-- Form -->
      {% include form-contact.html %}
    </div>

  </div>
</section>

<!-- Retreats -->
 <section id="cta" class="border-b border-feature bg-image-style py-10p px-5p md:p-10p text-center bg-overlay {{page.cta.background.overlay_style}}"
    style="background-image: url('{{page.cta.background.background_image}}'); background-position: {{page.cta.background.background_position}};">
    <h2 class="heading-md-sans text-feature">Are you interested in joining <span class="font-serif text-[2rem] lg:text-[2.5rem] lowercase mx-2">in-person</span> retreats and workshops with Mana Mei?</h2>
    <p>Join the retreat waitlist to be the first to know when Mana announces her next in-person offerings</p>
    {% include form-retreat.html %}
</section>