---
layout: default
slug: liberation-through-movement-mentorship
title: Liberation Through Movement Mentorship
description_html: 
featured-image: /uploads/images/manamei-24.jpg
heading:
  title: Liberation Through Movement Mentorship
  subtitle: Mentorship & Facilitator Training
  description_html: 
  button-enroll:
    text: Join the waitlist
    url: /mentorship-waitlist.html
  button-video:
    show: true
    type: youtube
    text: Watch the video
    url: https://www.youtube.com/embed/qFvP0ardNRA?si=KMFcYLRBB_Ee3Ex0
  background_image: /uploads/images/manamei-24.jpg
  overlay_style: medium
brochure-1: 
  heading: Download the Mentorship Brochure
  description_html: Unravel the essence of this unique 4-month journey curated by Mana Mei.
  background-image: 
    background_image: 
    image_focus: 
    overlay_style: 
course-description:
  heading: Discover the essence of the LTM Mentorship
  description_html: The Liberation Through Movement Model is a carefully crafted process that Mana Mei has developed through three decades of passionate exploration of classical dance techniques, somatic movement, embodiment practices, and free expressive dance.</p><p>It is based on the process that she has personally gone through in her own life, and continue to use on a daily basis to reach and sustain the expanded state of liberated expression that she embodies today.</p><p>Whatever meaningful changes and transformations you are desiring to achieve right now, the Liberation Through Movement Mentorship will support you every step of the way by creating a safe space for you to recollect and liberate all parts of yourself and rise into empowered self expression.
  background-image: 
    background_image: /uploads/images/manamei-61.jpg
    image_focus: 
    overlay_style: medium
benefits:
  heading: All of the tools within this model are designed to do the following
  description_html: <ul><li>Cultivate Awareness & Freedom in your Physical Body.</li><li>Teach you to source power from your Energy Body.</li><li>Give you tools to maintain peace amidst the challenges of life.</li><li>Awaken the courage & strength to meet the world in authentic expression of your unique self.</li><li>Rise into leadership & begin creating the satisfying, pleasure-filled life you desire.</li></ul>
  background-image: 
    background_image: 
    image_focus: 
    overlay_style: 
who-its-for:
  heading: The Liberation Through Movement Mentorship is for women who are
  description_html: Seeking meaningful changes and transformations in their every day life.</p><p>Desiring to reclaim freedom in their bodies and express themselves authentically.</p><p>Wanting to strengthen their inner anchor for more safety & security</p><p>Drawn to a balanced approach that honors both the Feminine and Masculine.</p><p>Looking for a daily practice that is a combination of Meditation, Physical Activation, and Spiritual Liberation.</p><p>Ready to step into Embodied Leadership and learn the tools necessary to facilitate this movement medicine.</p><p>Desiring to connect with other women in Sacred Sisterhood for support and inspiration.</p>
  background-image:
    background_image: /uploads/images/manamei-62.jpg
    image_focus: left
    overlay_style: medium
inside-the-course:
  heading: Inside the LTM Mentorship
  description_html: The 4-month program follows the Liberation Through Movement Model, with each month dedicated to one of the 3 Pillars of Connection, culminating in Authentic Space Holding and LTM Facilitation Training. The journey is a deep exploration of your inner world, combining daily practices, weekly transmissions, and monthly mentoring calls.
  module:
    - title: Phase 1 - Connection to the Physical Body
      description_html: <ul><li>Creating Safety</li><li>Remeeting the Body</li><li>Cultivating Self-Love</li></ul>
      time:
        show: false
        hours: 
        minutes:
    - title: Phase 2 - Connection to the Emotional Body
      description_html: <ul><li>Emotional Alchemy</li><li>Shadow Expression</li><li>Body as a Manifestation Vessel</li></ul>
      time:
        show: false
        hours: 
        minutes: 
    - title: Phase 3 - Connection to the Transpersonal Body 
      description_html: <ul><li>Boundaries</li><li>Radical Authentic Expression</li><li>Becoming the Leader</li></ul>
      time:
        show: false
        hours: 
        minutes: 
    - title: Phase 4 - Authentic Space Holding & LTM Facilitation Training 
      description_html: <ul><li>Creating LTM Journeys</li><li>The Art of Holding Space</li><li>Practice Teaching & Graduation Experience</li></ul>
      time:
        show: false
        hours: 
        minutes: 
  background-image:
    background_image: /uploads/backgrounds/manamei-4.jpg
    image_focus: bottom
testimonials:
  background_image: /uploads/images/manamei-63.jpg
  overlay_style: medium
  testimonials:
    - testimonial: I am so grateful, so so grateful for you, Mana, for creating this space and the way you are holding it and the way you have created the program. Taking the decision to do this mentorship has been one of the best things I have ever done. Im coming from a place where I was not confident with myself and what I do. I would always question myself with what I say. I would always compare myself to others, because I didn’t like me. I thought I’m not enough. I’m not doing enough, I’m not good enough, I don’t have anything to offer… I wanted to be like someone else…<br class="mb-4">And with this mentorship I really got the chance to get to know myself, and I like what I found. The ability to show up with confidence. And really being confident in believing in myself and my medicine and what I have to offer. I definitely feel more open to show myself in a more authentic way.
      author: — LTM Mentorship participant, Rodi Sarivan
    - testimonial: It was life changing, it IS LIFE CHANGING.<br class="mb-4">I came into a sisterhood that truly nourishes me and holds me and gives me the courage to dive deep into parts of myself I was so ashamed of, that I neglected for such a long time. And I could have access to all these parts and put them together into WHOLENESS.<br class="mb-4">I feel much more energized. I feel so much more truly AUTHENTIC.<br class="mb-4">The way I move changed. The way I speak changed. The way I show up in the world changed. I would really recommend it to every woman in this world to jump into this journey. I feel like there is such a new path opening up for me. A path of being TRULY WHO I AM and finding myself and staying true to myself.    
      author: — Maryam Azou, Liberation Through Movement Mentorship
    - testimonial: Words can simply not express the amount of gratitude I feel in my Heart right now. Thank you so much, Mana, for creating the Liberation Through Movement Mentorship Program for women. Thank you for sharing your knowledge and wisdom in such a beautiful way. Liberation Through Movement is a safe container for you to explore your Femininity. To discover your authenticity. To feel safe in your vulnerability. To experience sisterhood. To simply be who you truly are. The tools you receive in this container are priceless. Liberation through movement has been the best investment I have ever done for myself.<br class="mb-4">I highly recommend Liberation Through Movement Mentorship program to any woman who is looking to step into her power, who is looking to reconnect to her body, to her Soul, and to her inner wisdom.    
      author: — Oksana Utkina, Liberation Through Movement Mentorship Graduate
    - testimonial: I am so thankful that I said yes to the Liberation Through Movement Mentorship because this was saying yes to me.This was the first step for me in showing up for myself and it has been so powerful. IT HAS CHANGED THE WAY I LIVE MY LIFE.<br class="mb-4">I never expected to get as much out of this as I have. I’ve gotten so much from this safe container, from the leadership of Mana, and from the curriculum that she’s created. I am so grateful to Mana’s leadership and the container that she’s created. It’s just dripping with knowable and education. It genius and I urge you to say YES to yourself.
      author: — Antonia Martinez, Liberation Through Movement Mentorship Graduate
    - testimonial: I’m so happy and so enchanted by this. And I wish every woman would take place in this celebration of Femininity, of sisterhood, of aliveness. I learned so much about my values in life. About how I am choosing to walk and dance throughout this life. I learned how it is to be safe in my body. How it is to be vulnerable, how it is to be authentic.<br class="mb-4">With the guidance of Mana, I was just shedding layers and uncovering so many part of myself that just wanted to be exposed and to be clear.Give yourself this gift. Choose yourself and join this magnificent, wild Feminine tribe.    
      author: — Gaia Jagu, Liberation Through Movement Mentorship Graduate
    - testimonial: I can’t believe what I am capable of! I am able to completely express myself freely and take up space. I just feel more expressive, more free, more fluid. And every day now that’s my practice. To listen to the body, to respond to the body, to let the body move, to be guided by the body. I am eternally grateful that Mana has committed and devoted her time and energy into creating such a potent container for women to connect with who we are, to come home to ourselves. It’s everything.
      author: — Kaye Taylor, Liberation Through Movement Facilitator
    - testimonial: It was a remembrance. It truly was me remembering my worth. Remembering who I am underneath all the layers, underneath all; the conditioning, underneath all eh masks. It was me remembering my power.<br class="mb-4">It was me finding my own blueprint in this world. And taking up space- allowing all parts of me to be integrated. I now have the confidence and the skills and the tools to show up in this world as all parts of me.<br class="mb-4">I see the ripple effect it has with my partner and as a mother, and my life. I am forever grateful, because I truly believe that every single person needs to come home to themselves, but also feel confident to actually be seen.    
      author: — Lisa Falconer , Liberation Through Movement Mentorship Graduate
instructor:
  show: true
investment:
  heading: Investment
  includes:
    heading: What's included
    list:
      - list-item: Weekly pre-recorded audio & video practices
      - list-item: Weekly Live Group Transmissions with Mana Mei
      - list-item: Monthly Guest Facilitator Experiences
      - list-item: 1:1 Mentoring calls with Mana Mei and Assistant Mentor
      - list-item: Access to the exclusive Online Mentorship Haven
      - list-item: Free lifetime membership to the Liberation Through Movement Online Community
  pricing:
    pay-in-full:
      heading: Pay in full
      price: $3000
    payment-plan:
      show: true
      heading: Payment plan
      price: $800 x 4 months
  button: 
    url: /mentorship-waitlist.html
    text: Join the waitlist
  border: 
faq:
  heading: Frequently asked questions
  questions-and-answers:
    - question: I have a busy schedule. Can I take my time working through each module?
      answer_html: >-
        <p>YES! Wisdom Body is designed to serve YOU in living in your radiance.
        Therefore the practices have been designed to give you the freedom of
        when, and how often you practice. That being said here is the
        recommendation from Mana Mei.</p><p>For first time, it is recommended to
        complete ONE module per week, spacing the 3 practices out as you desire.
        The practices are meant to do IN ORDER, as the 3rd practice incorporates
        practice 1 & 2.</p><p>As you have lifetime access, once you have
        completed all 4 modules, you will have the knowledge and freedom to
        revisit specific practices, choosing which will serve you best on any
        particular day.</p><p>These practices are meant to be done MORE THAN
        ONCE. And the more you do them, the deeper you will be able to go.
        Through the practices, you are retraining your ability to stay present,
        to access more freedom, and to evoke new feelings.</p>
    - question: Are there prerequisites to take this program?
      answer_html: >-
        <p>NO. This program is open to any woman who is excited and ready to
        dive into the movement medicine, regardless of your previous experience.
        All women can benefit from this program, regardless of your age,
        physical capacity, dance experience, or location in the world.</p><p>In
        the case that you are still worried that you do not have enough
        experience for this program, Mana Mei recommends starting with the MANA
        Movement Program as a solid starting foundation.</p>
    - question: What is the difference between Wisdom Body and MANA Movement?
      answer_html: >-
        <p>MANA Movement is a guided practice which flows through sequences of
        specific movement patterns that are focused on bringing non-linear
        movement into the physical body, otherwise known as the Feminine
        Pathways or circles, spirals, and waves.</p><p>MANA Movement is a great
        place to start for those who are completely new to embodied dance and
        want clear and specific guidance on how to move the body for more
        freedom.</p><p>Wisdom Body will offer you the next level of freedom in
        that there is no specific guided movements, but rather invitations for
        you to discover your unique movement style through intentional prompts,
        imagery, and somatic cues.</p><p>Wisdom Body is perfect for any woman
        ready to deepen her movement practice and gain new inspiration for
        increased freedom.</p>
    - question: Will I receive a certificate at the end?
      answer_html: >-
        <p>Wisdom Body is purely a personal deep dive experience so there is no
        certification at completion. If you are interested in Mana Mei’s Level 1
        Leadership and Facilitator Training, check out the Liberation Through
        Movement Mentorship Program!</p>
    - question: I don’t have a credit card. Is there any other way I can pay?
      answer_html: >-
        <p>Yes! We accept PayPal and Bank Transfers. Please contact Mana Mei to
        request a new payment option.</p>
  background-image:
    background_image: /uploads/backgrounds/manamei-3.jpg
    image_focus: bottom right
cta:
  heading: Think this may be the perfect fit for you? 
  description_html: The next step is to join the waitlist! By doing this, you will receive an email with the Mentorship Brochure containing all of the details you need. </p><p>By joining the waitlist, you will be the first to know when Enrollment opens for the next round.
  button:
    text: Join the waitlist
    url: /mentorship-waitlist.html
  background-image:
    background_image: /uploads/images/manamei-64.jpg
    background-position: bottom
    overlay_style: medium
brochure-2: 
  heading: Still have questions?
  description_html: Download the Liberation Through Movement Mentorship brochure to learn more.
  background-image: 
      background_image: 
      image_focus: 
      overlay_style: 
  border: border-y border-feature
seo: 
  title: Liberation Through Movement Mentorship & Facilitator Training
  description: This unique 4-month program blends classical dance, somatic movement, and expressive dance to harmonize feminine and masculine energies, fostering self-awareness, peace, and authentic leadership. 
  keywords: Liberation Through Movement, mentorship, empowerment, leadership, feminine energy, masculine harmony, somatic movement, expressive dance, Mana Mei, embodied movement facilitator training
  social_image: /uploads/images/manamei-24.jpg
  hide-from-google: false
---
<!-- Course Heading -->
{% include hero-banner-course.html %}

<!-- Banner -->
<section class="flex justify-around p-5p">
  <img src="/uploads/icons/manamei-11.png" class="max-h-16">
</section>

<!-- Course Description -->
{% include description-course.html %}

<!-- Course Benefits -->
<section class="section-padding grid lg:grid-cols-2">
  <div class="border border-feature p-5p">
      <h2 class="text-md-serif text-feature">{{page.benefits.heading}}</h2>
      <p>{{page.benefits.description_html}}</p>
  </div>
  <div class="bg-image-style pt-5p lg:pt-0 lg:pl-5p flex items-center justify-center"><img src='/uploads/icons/manamei-26.jpg'></div>
</section>

<!-- Who It's For -->
{% include who-its-for.html %}

<!-- Inside the Course -->
{% include inside-the-course.html %}

<!-- Testimonials -->
{% include testimonials.html %}

<!-- Meet Your Teacher -->
{% if page.video.show == true %}
{% include about-mana-course.html %}
{% endif %}

<!-- Investment -->
{% include investment.html %}

<!-- CTA -->
{% include cta-course.html %}