---
layout: default
slug: liberation-through-movement-mentorship
title: Liberation Through Movement Mentorship
description_html: <p>Add description here</p>
featured-image: /uploads/images/manamei-24.jpg
heading:
  title: Liberation Through Movement Mentorship
  subtitle: Mentorship & Facilitator Training
  description_html: Short description here.
  button-enroll:
    text: Apply now
    url:
  button-video:
    show: false
    text: Watch the video
    url:
  background_image: /uploads/images/manamei-24.jpg
banner:
  - image_path:
    title: Phase 1
    benefit: Connection to the physical body
  - image_path:
    title: Phase 2
    benefit: Connection to the emotional body
  - image_path:
    title: Phase 3
    benefit: Connection to the transpersonal body
  - image_path:
    title: Phase 4
    benefit: The art of authentic space holding and LTM Facilitator training
course-description:
  heading: Discover the essence of the LTM Mentorship
  description_html: <p>Add description here</p>
  module:
    - image_path: /uploads/icons/manamei-6.png
      title: Phase 1, Connection to the Physical Body
      description_html: <p>Description</p>
    - image_path: /uploads/icons/manamei-6.png
      title: Phase 2, Connection to the Emotional Body
      description_html: <p>Description</p>
    - image_path: /uploads/icons/manamei-6.png
      title: Phase 3, Connection to the Transpersonal Body
      description_html: <p>Description</p>
    - image_path: /uploads/icons/manamei-6.png
      title: Phase 4, The art of authentic space holding and LTM Facilitator training
      description_html: <p>Description</p>
who-its-for:
  heading: Who the LTM Mentorship is for
  description_html: Describe the prospective student
  background-image:
    background_image: /uploads/images/manamei-5.jpg
    image_focus: center
inside-the-course:
  heading: Inside the LTM Mentorship
  description_html: <p>Description of the STRUCTURE of the course goes here.</p>
  module:
    - title: 'Phase 1: Fall: The Homecoming: Overview'
      description_html: >-
        <ul><li>Phase 1 Overview PDF download</li><li>Pre-Post Pracitce Care PDF
        download</li></ul>
      time:
        show: false
        hours: 1
        minutes: 16
    - title: 'Phase 1, Week 1: Safety In My Body'
      description_html: >-
        <ul><li>The Daily Dose practice lesson</li><li>Writing
        exercise</li><li>Practice 1: Coming Home meditation
        (audio)</li><li>Practice 2: Joint Articulation movement meditation
        (audio)</li><li>Practice 3: Mana Movement Module
        (video)</li><li>Practice 4: Somatic Movement: Isolations &amp;
        Initiations (video)</li><li>Practice 5: Mana Movement Module
        (video)</li></ul>
      time:
        show: false
        hours: 1
        minutes: 16
    - title: 'Phase 1, Week 2: Accept & Let It Go'
      description_html: >-
        <ul><li>The Daily Dose practice: Shaking</li><li>Writing
        Exercise</li><li>Practice 1: Grounding &amp; Presence Meditation
        (audio)</li><li>Practice 2: Mana Movement Module
        (video)</li><li>Practice 3: Somatic Movement: Movement Dynamics
        (video)</li><li>Practice 4: Embody the Ugly Masterclass
        (video)</li></ul>
      time:
        show: false
        hours: 1
        minutes: 16
    - title: 'Phase 1, Week 3: Love & Liberation'
      description_html: >-
        <ul><li>Breath In, Expand&nbsp;</li><li>The Daily Dose practice:
        Gratitude List</li><li>Writing exercise</li><li>Practice 1: Bodyplay
        movement meditation (audio)</li><li>Practice 2: Mana Movement Module
        (video)</li><li>Practice 3: Somatic Movements: 5 Levels of Space
        (video)</li><li>Practice 4: Painting Space movement meditation
        (audio</li><li>Practice 5: Writing &amp; Embodiment</li></ul>
      time:
        show: false
        hours: 1
        minutes: 16
    - title: ''
      description_html: ''
      time:
        show: false
        hours: 0
        minutes: 0
  background-image:
    background_image: /uploads/backgrounds/manamei-4.jpg
    image_focus: bottom
testimonials:
  background_image: /uploads/images/manamei-2.jpg
  testimonials:
    - testimonial: This is a testimonial
      author: Regina Philange
    - testimonial: This is a testimonial
      author: Ken Adams
instructor:
  show: true
investment:
  heading: Investment
  includes:
    heading: What's included
    list:
      - list-item: 12 guided audio and video practices
      - list-item: Written theory and journaling prompts
      - list-item: Lifetime access to program materials
      - list-item: Access to the private wisdom body Facebook group
      - list-item: >-
          2-months free membership to the liberation through movement online
          community
  pricing:
    pay-in-full:
      heading: Pay in full
      price: $3000
    payment-plan:
      show: true
      heading: Payment plan
      price: $800 x 4 months
faq:
  heading: Frequently asked questions
  questions-and-answers:
    - question: I have a busy schedule. Can I take my time working through each module?
      answer_html: >-
        <p>YES! Wisdom Body is designed to serve YOU in living in your radiance.
        Therefore the practices have been designed to give you the freedom of
        when, and how often you practice. That being said here is the
        recommendation from Mana Mei.</p><p>For first time, it is recommended to
        complete ONE module per week, spacing the 3 practices out as you desire.
        The practices are meant to do IN ORDER, as the 3rd practice incorporates
        practice 1 & 2.</p><p>As you have lifetime access, once you have
        completed all 4 modules, you will have the knowledge and freedom to
        revisit specific practices, choosing which will serve you best on any
        particular day.</p><p>These practices are meant to be done MORE THAN
        ONCE. And the more you do them, the deeper you will be able to go.
        Through the practices, you are retraining your ability to stay present,
        to access more freedom, and to evoke new feelings.</p>
    - question: Are there prerequisites to take this program?
      answer_html: >-
        <p>NO. This program is open to any woman who is excited and ready to
        dive into the movement medicine, regardless of your previous experience.
        All women can benefit from this program, regardless of your age,
        physical capacity, dance experience, or location in the world.</p><p>In
        the case that you are still worried that you do not have enough
        experience for this program, Mana Mei recommends starting with the MANA
        Movement Program as a solid starting foundation.</p>
    - question: What is the difference between Wisdom Body and MANA Movement?
      answer_html: >-
        <p>MANA Movement is a guided practice which flows through sequences of
        specific movement patterns that are focused on bringing non-linear
        movement into the physical body, otherwise known as the Feminine
        Pathways or circles, spirals, and waves.</p><p>MANA Movement is a great
        place to start for those who are completely new to embodied dance and
        want clear and specific guidance on how to move the body for more
        freedom.</p><p>Wisdom Body will offer you the next level of freedom in
        that there is no specific guided movements, but rather invitations for
        you to discover your unique movement style through intentional prompts,
        imagery, and somatic cues.</p><p>Wisdom Body is perfect for any woman
        ready to deepen her movement practice and gain new inspiration for
        increased freedom.</p>
    - question: Will I receive a certificate at the end?
      answer_html: >-
        <p>Wisdom Body is purely a personal deep dive experience so there is no
        certification at completion. If you are interested in Mana Mei’s Level 1
        Leadership and Facilitator Training, check out the Liberation Through
        Movement Mentorship Program!</p>
    - question: I don’t have a credit card. Is there any other way I can pay?
      answer_html: >-
        <p>Yes! We accept PayPal and Bank Transfers. Please contact Mana Mei to
        request a new payment option.</p>
  background-image:
    background_image: /uploads/backgrounds/manamei-3.jpg
    image_focus: bottom right
cta:
  heading: A headline
  description_html: <p>Empowering text</p>
  button:
    text: Apply now
    url:
  background-image:
    background_image: /uploads/images/manamei-22.jpg
    background-position: center
seo:
  title:
  description:
  keywords:
  social_image:
  hide-from-google: false
---
<!-- Course Heading -->
{% include hero-banner-course.html %}

<!-- Banner -->
{% include banner-course.html %}

<!-- Video -->
{% if page.video.show == true %}
{% include video.html %}
{% endif %}

<!-- Course Description -->
{% include description-course.html %}

<!-- Who It's For -->
{% include who-its-for.html %}

<!-- Inside the Course -->
{% include inside-the-course.html %}

<!-- Testimonials -->
{% include testimonials.html %}

<!-- Meet Your Teacher -->
{% if page.video.show == true %}
{% include about-mana-course.html %}
{% endif %}

<!-- Investment -->
{% include investment.html %}

<!-- FAQ -->
{% include faq.html %}

<!-- CTA -->
{% include cta-course.html %}