---
layout: default
title: Mana Movement Map
map: 
  heading: A lifechanging journey
  description: The following is an outline of the path you will be guided through if you feel called to choose Mana Mei and Liberation Through Movement as your guiding light for this next thread in the weaving of your life journey. If you take this journey, IT WILL CHANGE YOUR LIFE.
  offering:
    - title: Mana Movement Foundations
      type: Online Program
      description: Begin your Embodiment journey by learning this simple yet powerful practice, designed for all women. This is the perfect place to begin, or deepen your practice of using movement as a daily ritual for awakening and connecting to your Feminine Power and returning to inner balance and clarity.
      url: 
      image_path: /uploads/icons/manamei-14.png
    - title: Mana Movement Full Course
      type: Online Program
      description: Take the next step to deepen your MANA Movement Practice in this 10 module full course which will take you through the detailed breakdown and practice of all elements of the MANA Movement Practice. This expanded course will teach you new exercise and movement not included in the Foundations Course.
      url: 
      image_path: /uploads/icons/manamei-15.png
    - title: Wisdom Body
      type: Online Program
      description: Through intentionally designed Movement Meditations, Somatic Dance Exercises, and Embodied Dance Journeys, you will touch deeper layers of your self-connection, expand your movement vocabulary, and explore vast realms of your authentic self expression.
      url: /_courses/wisdom-body.md
      image_path: /uploads/icons/manamei-16.png
    - title: Liberation Through Movement Mentorship
      type: Online Program
      description: Mana Mei’s Keystone Offering! A 4-month deep dive into every facet of your personal embodiment, all Liberation Through Movement Practices, plus Level 1 Facilitation Training, birthing through the other side of this intimate and powerful container as an empowered woman and Embodied Feminine Leader.
      url: 
      image_path: /uploads/icons/manamei-13.png
additional-offerings: 
  heading: Additional Offerings
  subheading: You are not alone!
  description: Become a shining pillar of light in the Liberation Through Movement Community and connect with women around the world also on the Path of Embodied Healing.
  offering: 
   - title: Liberation Through Movement
     type: Membership Community
     description: Connect with like-minded embodied women all over the world in shared experience through monthly live online embodiment workshops and masterclasses. Receive unlimited access to the full Workshop Library of all past events. Feel seen and supported in your journey back home to yourself.
     url: 
   - title: Nectar Series
     type: 12 Masterclass Package
     description: Embark on an enchanting odyssey within your being, discovering all the flavors of the sweetest elixir- your own essence. This symphony of Masterclasses, Rituals, and Workshops created by Mana Mei for the Liberation Through Movement Community will provide you will expansive inspiration in your journey of Feminine Expression.
     url: 
---

<!-- Hero Banner -->
{% include hero-banner-offerings.html %}

<!-- Map -->
{% include map.html %}

<!-- Additional Offerings -->
{% include additional-offerings.html %}

<!-- Masterclass Reply -->
{% include optin-masterclass.html %}