---
layout: default
slug: pathways-of-life
title: Pathways of Life
description: Personal Empowerment through Mind-Body Exploration of Feminine Shapes 
featured-image: /uploads/images/women-who-feel-1.jpg
heading:
  title: Pathways of Life
  subtitle: 4-Week Live Online Program
  description: >-
    Personal Empowerment through Mind-Body Exploration of Feminine Shapes 
  button-enroll:
    text: Enroll now
    url: https://manamei.mysamcart.com/checkout/pathways-of-life-program
  button-video:
    show: false
    type: youtube
    text: Watch the video
    url: 
  background_image: /uploads/images/pathways-of-life-1.jpg
  overlay_style: medium
course-description:
  background_image: /uploads/images/pathways-of-life-2.png
  description_html: >-
    <p>We are energy expressing itself through the physical body. This is our life force energy and our innate source of power. This abundant, never-ending source of energy flows through us in non-linear pathways of circles, spirals, waves, also known as the FEMININE PATHWAYS.</p>
    <p>The very same patterns can be observed in nature, from subatomic to electrical bodies, proving that the same patterns work on both physiological and psychic levels for humans, emerging as the foundation of all of our existence in both the material and energetic world, affecting us at every level in the totality of our MIND-BODY-SPIRIT experience.</p>
who-its-for:
  heading_html: Exploring the Feminine Shapes as a Pathway to Healing and Transformation
  description_html: >-
    <p>Understanding your personal connection to the Non-Linear Pathways will become a beacon of light guiding you in your personal journey of healing and transformation.</p>
    <p>Whatever meaningful changes you desire in your life, through the intentional self investigation into the Feminine Pathways of your own psyche and body, you will become empowered in your ability to meet these changes with presence and grace.</p>
    <p>There is no expectation to be perfect. Only to become aware of what lives within you and what needs to be witnessed and reassessed, released and expressed.</p>
    <p>Through creating a safe space and expertly held container of support and knowledge, you will have the tools and guidance to dance the courageous path of embodied self development.</p>
  background-image:
    background_image: /uploads/images/pathways-of-life-3.jpeg
    image_focus: 
    overlay_style: 
investment:
  heading: What You Will Experience...
  includes:
    heading: 
    list:
      - list-item_html: Weekly 2-3 Hour Live Group Transmission, guided by Mana Mei & Ka, covering invaluable Theoretical Information PLUS guided embodiment practices to support.<br><span class="text-feature mt-2 inline-block">Weekly Live Transmission will happen on Sundays at 7am PDT - 4pm CET - 10pm Bali, starting on August 31st.</span>
      - list-item_html: Weekly “do-at-home” tasks to deepen your experience and support your personal process, including a “daily dose” movement invitation, brochure about the psychology of shape, and a Self-Inquiry Shape Journaling Worksheet.
      - list-item_html: Exclusive Course Community on Telegram to connect with your global sisterhood, seek support and inspiration, offer a space to hold each other in authenticity and vulnerability, and weekly invitations to share reflections and SHAPES studies!
inside-the-course:
  heading_html: Inside this Program, you will gain invaluable knowledge and experience life-changing embodiment practices that you can apply to your daily life for the rest of your life.
  description_html: >-
    <p>The tools shared within this program are timeless and always relevant no matter what phase of your journey you are on.</p>
    <p>Whatever meaningful changes you are desiring in your life, this work will meet you there.</p>
    <p>The investment to join us in this potent 4-week container, with lifetime access to all course content, where you will be held, guided, and supported every step of the way, is only $160 USD.</p> 
    <p>Our goal is to make this program accessible and affordable for any woman who feels she can benefit from this work.</p>
    <p>If you need additional financial support, please email manameilin@gmail.com to ask about our Payment Plan option.</p>
  background-image:
    background_image: /uploads/images/pathways-of-life-4.jpg
    image_focus: 
testimonials:
  background_image: /uploads/images/pathways-of-life-8.jpg
  overlay_style: dark
  testimonials:
    - testimonial: These movements and this ethos feel like the culmination of everything I’ve been learning and practicing over the years—it’s as if every time I practice, I return home.
    - testimonial: We think of wings as freedom, but today I felt the quiet liberation of laying them down. Of letting the wind carry away what no longer belongs, like whispers never meant to stay.
    - testimonial: I observed the cyclical, spiraling patterns of nature unfold in real time, mirroring those same movements in my own body, reminding me again that we are all woven into the same field. It is beautiful. It is sacred. And the word “gratitude” feels too small for what I am experiencing—for this practice, for this community—for Mana and Ka…I am consistently in awe of this process.
cta:
  heading: Meet Mana Mei, International Feminine Embodiment Mentor
  description_html: >-
    <p>Mana Mei is professional dancer, international performer, and Global Leader in the Art of Feminine Embodiment. She is the founder of Liberation Through Movement - a lifestyle and personal transformation business that realigns women with their power to step forward as the ultimate creators of their lives through the modality of embodied dance and intentional movement.</p>
    <p>Mana is also the Founder of Mana Movement- an embodied movement meditation modality that has already supported thousands of women around the world in cultivating harmonious mind-body-spirit connection and cultivating unwavering inner safety and freedom.</p>
    <p>Through her life-long studies of classical dance techniques and over 10 years of exploring non-traditional movement, Mana has discovered the immense healing power of somatic movement and intentional dance, and is passionate about sharing this wisdom with people all over the world.</p>
    <p>Mana believes that our bodies are vessels built to explore all of the complexities of the human experience, and by becoming deeply embodied, we can cultivate unwavering inner safety and freedom, and engage in the world from this place, allows us to live in authentic liberation.</p> 
    <p>Mana has been mentoring women through pivotal moments of their healing journeys in 1-on-1 and and small group programs, and has supported over 100 women as their personal mentor as they rise into self-empowerment and become the master Creatrix of their lives. Currently, the best way to work with Mana is through her keystone 3-month Liberation Through Movement Mentorship Program.</p>
  mobile_image: /uploads/images/women-who-feel-6.png
  ltm-description_html: |
    <h2 class="text-[1.5rem] font-medium uppercase mb-2">What do women say about the <span class="text-[#fcbe92]">LTM Mentorship Program</span>?...</h2>
    <p>“I feel infinitely grateful and blessed to have this opportunity to immerse myself and fully receive Mana’s wisdom, teachings and practices at such a potent time in the evolution of consciousness, and will continue daily with these rituals for the days weeks and years to come, watching the magic unfold.”</p>
    <p>“I’m so happy to be part of this journey. It was life changing, it IS LIFE CHANGING…I feel like there is such a new path opening up for me. A path of being TRULY WHO I AM and finding myself and staying true to myself.”</p>
    <p>“Liberation Through Movement has been by far the best training and gift I’ve given myself to peel away the layers and the programs and the conditionings.”</p>
    <p>“This was the first step for me in showing up for myself and it has been so powerful. It has changed the way I live my life. I never expected to get as much out of this as I have.”</p>
    <p>“I’m so happy and so enchanted by this. And I wish every woman would take place in this celebration of Femininity, of sisterhood, of aliveness.”</p>
    <p>Want to experience a taste of the Liberation Through Movement magic? Join this unique Masterclass experience “This is for Women who Feel…” on July 8th to experience it yourself!</p>
  button:
    text: Enroll Now
    url: https://manamei.mysamcart.com/checkout/pathways-of-life-program
  background-image:
    background_image: /uploads/images/manamei-63.jpg
    background-position: 
    overlay_style: dark
seo: 
  title: This is for Women Who Feel Masterclass
  description: This is for Women who Feel…
  description: A movement masterclass with Mana Mei, International Women's Embodiment Mentor
  keywords: Mana Movement, feminine embodiment, women's empowerment, dance and movement, Mana Mei, creative expression, embodiment practices, embodied movement, authentic dance
  social_image: /uploads/images/women-who-feel-1.jpg
  hide-from-google: true
---
<!-- Course Heading -->
{% include hero-banner-course.html %}

<!-- Course Description -->
<section class="p-5p m-5p bg-image-style bg-no-repeat bg-contain" style="background-image: url({{ page.course-description.background_image }});">
  <div class="md:text-center">
      <p>{{page.course-description.description_html}}</p>
  </div>
</section>

<!-- Description Continued -->
<section>
  <!-- 2 Columns -->
  <div class="grid md:grid-cols-2">

    <!-- Left Column (image) -->
    <div class="mb-10p md:mb-0 bg-image-style min-h-[60vh] md:min-h-[90vh] mx-10p" style="background-image: url('{{page.who-its-for.background-image.background_image}}'); background-position: {{page.who-its-for.background-image.image_focus}};"></div>

    <!-- Right Column (text) -->
    <div class="flex items-center justify-center">
      <div class="md:py-10p pl-10p pr-10p md:pr-[20%]">
        <h2 class="text-[1.5rem] font-medium uppercase mb-2">{{page.who-its-for.heading_html}}</h2>
        <div>{{page.who-its-for.description_html}}</div>
      </div>
    </div>
  </div>
</section>

<!-- Banner with Testimonial -->
<section class="mt-10p p-10p bg-image-style bg-overlay medium flex items-center justify-center" style="background-image: url(/uploads/images/manamei-58.jpg);">
  <div class="lg:w-[80%] text-center italic">
    ​​“Such a profoundly moving experience…the way this practice combined the embodied experience with the verbal, analytical awareness added such richness. Weaving in the awareness of the deeper meanings behind the circles, spirals, waves, and torus was incredible—like being given a map to something my body already knew but my mind had yet to name. Bringing the intention and the empowerment front and center made every movement feel even more purposeful, like a conversation between the ancient and the present moment.”
  </div>
</section>


<!-- How It Works -->
<section class="pt-10p lg:py-10p">

  <div class="text-center px-5p md:px-10p">
    <div class="lg:w-[70%] mx-auto mb-12">
      <h2>This will be a deeply HOLISTIC EXPERIENCE which touches on the Mind-Body-Spirit Harmony of our healing journey.</h2>
    </div>
  </div>

  <div class="grid lg:grid-cols-3 gap-12 text-center px-5p md:px-10p">

    <!-- Mind -->
    <div>
      <h3 class="font-serif text-2xl mb-4 text-feature">Mind</h3>
        <p>Theoretical Knowledge on the Origin of the Feminine Pathways and their applicable relationship to our own psyche, delivered during weekly Live Transmissions.</p>
        <p>Mind-provoking “worksheet” tasks geared to create a foundation of understanding of your own personal relationship to and journey with each shape.</p>
    </div>

    <!-- Body -->
    <div>
      <h3 class="font-serif text-2xl mb-4 text-feature">Body</h3>      
      <p>Guided Mana Movement Practices focused on embodying the Feminine Pathways as a way to forge the Mind-Body connection to these shapes in relationship to your personal journey, guided live during weekly transmissions.</p>
      <p>Weekly movement prompts for self exploration of the Feminine Shapes and daily practice to support the deepening of embodied knowledge.</p>
    </div>

    <!-- Spirit -->
    <div>
      <h3 class="font-serif text-2xl mb-4 text-feature">Spirit</h3>
      <p>Cultivating an unwavering experience of Safety and Freedom through being held in a container of support and non-judgement, focused on authentic expression and shared inspiration.</p>
      <p>Weekly invitations to share your personal journey, seek support and inspiration from other women around the world, and co-create a powerful experience of sisterhood and connection.</p>
    </div>
  </div>

    <!-- CTA -->
    <div class="flex justify-center mt-8">
      <a href="{{page.cta.button.url}}" class="button">{{page.cta.button.text}}</a>
    </div>
  </div>

</section>

<!-- Testimonial -->
<section>
  <div class="lg:w-[70%] mx-auto text-center text-feature italic">
    <p>“This work is truly profound and left me speechless. All the insights about the circles, the spirals, the waves, and the torus made so much sense - they landed in my system with a sense of hope. They opened a pathway that reminded me: everything starts from me. If the intention is set, movement will unfold. I was able to see, accept, and offer love to my reality in the present moment with no judgement.”</p>
  </div>
</section>

<section>
  <!-- Mobile Image (hidden on desktop) -->
  <div class="bg-image-style min-h-[60vh] md:min-h-[80vh] mt-10p mx-10p lg:hidden" style="background-image: url('/uploads/images/manamei-9.jpg');"></div>

  <div class="grid lg:grid-cols-3 gap-8 lg:mt-10p">
      <!-- Left Column (text) -->
      <div class="lg:col-span-2 p-10p flex justify-center items-center">
          <div>
              <h2 class="mb-4">A deeper look into Mana Movement as a powerful tool for integration...</h2>
              <p>Each month, you will be invited to devote yourself to your inner work, prioritize YOU and the process of awakening self awareness at all levels.</p>
              <p>Mana Movement is a powerful embodied movement technique that is founded on the physical and energetic activation of the Feminine Pathways through the entirety of the Body.</p>
              <p>These shapes—Circles, Spirals, Waves—are the fundamental patterns through which the psyche moves. By mirroring them in our physical movement, we gain access to that deeper layer of reality. This embodied engagement allows us to understand better how these patterns operate within us—and, as a result, learn to navigate life with greater awareness and ease.</p>
              <p>Mana Movement works on a pre-verbal level, allowing you to integrate experience without needing to define it. The body already knows what is waiting to be released and reintegrated.</p> 
          </div>
      </div>

      <!-- Right Column (image) -->
      <div class="hidden lg:block bg-image-style min-h-[60vh] lg:bg-[bottom]"
          style="background-image: url('/uploads/images/pathways-of-life-5.jpg');">
      </div>
  </div>

</section>


<!-- Banner with Testimonial -->
<section class="mt-10p p-10p bg-image-style bg-overlay medium flex items-center justify-center" style="background-image: url(/uploads/images/pathways-of-life-6.jpg); background-position: 50% 30%;">
  <div class="lg:w-[80%] text-center italic">
    ​“I love the theory aspect of this topic so much, and feel I really gained a much deeper understanding of the circles, spirals & waves—and how they can be used as a profound tool for doing shadow integration work. Combining this newfound theory with my familiar Mana Movement practice felt like experiencing a whole new aspect of the practice for the first time. I can’t wait to keep expanding on and exploring this.”
  </div>
</section>


<!-- Included -->
<section class="p-10p">
    <h2 class="text-lg-serif text-feature">{{ page.investment.heading }}</h2>
      <!-- Includes -->
      <div>
        <ul>
          {% for item in page.investment.includes.list %}
          <li class="list-disc ml-4">{{item.list-item_html}}</li>
          {% endfor %}
        </ul>   
      </div>

      <hr class="lg:hidden border-feature w-[40%] mx-auto mt-16">
  
    <div class="mt-16 lg:mt-8 text-center">
      <p class="italic">All Live Transmissions will be recorded and available to watch on replay if you cannot join the calls live. All recordings and important information and resources will be posted in the Telegram Group and available for download.</p>

            <!-- CTA -->
            <div class="flex justify-center mt-8">
              <a href="{{page.cta.button.url}}" class="button">{{page.cta.button.text}}</a>
            </div>
        </div>

</section>


<!-- Banner with Testimonial -->
<section class="p-10p bg-image-style bg-overlay medium flex items-center justify-center" style="background-image: url(/uploads/images/pathways-of-life-7.JPG);">
  <div class="lg:w-[80%] text-center italic">
    <p>“My tears are falling down while I am writing, but this are tears of transformation and happiness. Thank you so much for this experience.”</p>
  </div>
</section>


<!-- Inside the Course -->
<section class="mt-10p">

  <!-- Mobile Image (hidden on desktop) -->
  <div class="bg-image-style min-h-[60vh] md:min-h-[80vh] mt-10p mx-10p lg:hidden" style="background-image: url('{{page.inside-the-course.background-image.background_image}}');"></div>

  <div class="grid lg:grid-cols-3 gap-8">
      <!-- Left Column (text) -->
      <div class="lg:col-span-2 p-10p">
          <div>
              <h2 class="">{{page.inside-the-course.heading_html}}</h2>
              <p>{{page.inside-the-course.description_html}}</p>
          </div>
          <div class="mt-8">
            <a href="{{page.cta.button.url}}" class="button">{{page.cta.button.text}}</a>
          </div>
      </div>

      <!-- Right Column (image) -->
      <div class="hidden lg:block bg-image-style min-h-[60vh] lg:bg-[bottom]"
          style="background-image: url('{{page.inside-the-course.background-image.background_image}}');">
      </div>
  </div>
</section>

<!-- Testimonials -->
<section class="testimonial-container bg-image-style bg-overlay mt-10p
{{ page.testimonials.overlay_style }} bg-[url('{{page.testimonials.background_image}}')] p-10p bg-overlay-light" style="background-position: 50% 35%;">
    <div>
      {% for item in page.testimonials.testimonials %}
      <div class="md:px-10p">
        <p class="text-center mt-8 testimonial-item"><em>"{{item.testimonial}}"</em></p>
      </div>
      {% endfor %}
    </div>
</section>