/* Import Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Default Styles to apply to the whole project */
@layer base {
    body {
        @apply font-sans bg-black text-white
    }

    /* Temporary styles */
    section, div, h1, h2, h3, h4, h5, h6, p, span {
        @apply border border-white/40
    }
  }


/* ADDITIONAL COMPONENTS */
@layer components {
    .bg-image-style {
        @apply bg-feature/50 bg-no-repeat bg-center bg-cover
    }

    /* Video */
    .youtube-container { 
        max-width: 50%;
    }
    
    .embed-container { 
        position: relative;
        padding-bottom: 56.25%; 
        height: 0; 
        overflow: hidden; 
        max-width: 100%; 
    } 
    
    .embed-container iframe, 
    .embed-container object, 
    .embed-container embed { 
        position: absolute; 
          top: 0; 
          left: 0; 
          width: 100%; 
          height: 100%; 
    }
}