---
layout: default
slug: theartofdancinglife
title: The Art of Dancing Life
description_html: >-
  <p>The Art of Dancing Life is a 2-Day Liberation Through Movement
    Virtual Masterclass with Mana Mei.</p>
featured-image: /uploads/images/manamei-72.jpg
heading:
  title: The Art of Dancing Life
  subtitle: 2-Day Liberation Through Movement Virtual Masterclass
  description: with Mana Mei
  button-enroll:
    text: Register now
    url: 
  button-video:
    show: 
    type: youtube
    text: Watch the video
    url: https://www.youtube.com/embed/5sEVM981_X0?si=8lwzWDFyemeUsPqJ
  background_image: /uploads/images/manamei-72.jpg
  image_focus: 45% 50%
  overlay_style: medium
course-description:
  heading: The Art of Dancing Life is a Masterclass for Women
  description_html: >-
    <p>Wouldn’t it be so cool to wake up every single day and be able to think to yourself, <em>“Damn, I’m doing this whole LIFE thing really good.”</em>?</p>
    <p>Living life to its fullest and creating a satisfying experience for yourself is an ART. The facets of your Life journey must be crafted and curated with <strong>attention & intention</strong>. This finely curated masterpiece of life can only be achieved through a deep level of AWARENESS, not only to your outer environment, but also, first and foremost to your <strong>INNER LANDSCAPE</strong>.</p>
    <p>Then, we use the <strong>BODY</strong> as a vessel to bridge the potential of our inner wonderland into the lived experience of our outer world- manifested through our actions,  movements, words, and moment-to-moment choices. Through meeting life in this way, choosing from felt-body awareness at every breath, life unfolds into a radiant <span class="font-serif text-[1.5rem]">dance</span>. We feel, then we move. We breathe, then we respond. Swaying and undulating to the luscious rhythm of our Heart and the melody of our awakened Spirit.</p>
who-its-for:
  heading: This 2-day masterclass is for
  description_html: Any woman who is ready to live her life as a beautiful masterpiece</p><p>Women looking to gain self-awareness, applicable tools, and personal rituals to align with a satisfying and beauty-filled life</p><p class="mb-0">Those who want to meet each day with a sense of limitless potential and the anchored feeling of “Damn, I’m doing life really good”</p>
  background-image:
    background_image: /uploads/images/manamei-77.jpg
    image_focus: center
    overlay_style: light
inside-the-course:
  heading: Schedule
  description_html: Each session will last between 2-3 hours. We recommend highly recommend being present for the entire duration to gain the most from the masterclass.</p>If you can’t join us live, you’ll have access to a replay for 7 days.
  module:
    - title: Day 1 - Tuesday, November 19th
      description_html: >-
        <p>The Healing Cycle, Unravelled</p>
        <p>Safety - Letting Go - Love & Liberation &</p>
        <p>Step 1: Cultivating Safety</p>
        <p>Tuesday, November 19th<br>10am California / 7pm Central Europe</p>
      time:
        show: false
        hours: 00
        minutes: 00
    - title: Day 2 - Wednesday, November 20th
      description_html: >-
        <p>Step 2: Letting Go</p>
        <p>Step 3: Love & Liberation &</p>
        <p>THE ART OF DANCING LIFE Process</p>
        <p>Wednesday, November 20th<br>10am California / 7pm Central Europe</p>
      time:
        show: false
        hours: 00
        minutes: 00
  background-image:
    background_image: /uploads/backgrounds/manamei-4.jpg
    image_focus: bottom
testimonials:
  background_image: 
  overlay_style: 
  border: border-t border-feature
  testimonials:
    - testimonial: ”Liberation Through Movement is life-changing! I feel much more energized.<br>I feel so much more truly AUTHENTIC.”
    - testimonial: >-
        “It has been like a treasure map on how to create WHOLENESS within me day-by-day, allowing myself to BE what is alive within me…I have the compass in every moment to know what I need to come back to myself again. That’s what I want for me and for everyone on this planet to always know how to come back home.”
    - testimonial: >-
        “Liberation Through Movement is a gift I received, and I am still receiving, that has no price… it is infinite wisdom and value.”
    - testimonial: >-
        “I feel infinitely grateful to have received Liberation Through Movement teachings and practices. I will continue daily with these rituals for the days, weeks, and years to come, watching the magic unfold.”
    - testimonial: >-
        “I can say with confidence that this work changed my life.”
    - testimonial: “Words are really hard to find to describe this work, this medicine, this ancient wisdom that is ignited within your body when you do this movement.”
    - testimonial: >-
        “This practice is truly amazing. The way I feel my body, the way I
        connect to it, the way I connect to my emotions and let them be.”
    - testimonial: “The way i move changed. The way I speak changed.<br>The way I show up in the world changed.”
    - testimonial: “I feel like there is such a new path opening up for me. A path of being TRULY WHO I AM and finding myself and staying true to myself.”
    - testimonial: “I am more aware of how I hold my body and how I move in day to day life. I feel more present more often, in deeper communication with my Soul. Life is now more expansive, more abundant in opportunities, my creativity feels like it flipped a switch and now theres a flood of ideas and inspiration.”
    - testimonial: “This beautiful new way of moving is connecting in with me fully, all of me, and allowing me to be present with the emotions, the expressions, the senses… allowing it to move through me and for me. To actually EMBRACE wholeheartedly all that it is. Embrace every aspect of me. The light, the pain, the joy, the fear, the love.”
instructor:
  show: false
cta:
  heading: Enroll Now for $19 
  description_html: >-
    <p>Expand your mind, expand your Heart, and open you up to the incredible world and healing medicine of embodied movement.</p>
  button:
    text: Enroll now
    url: >-
      https://manamei.teachable.com/p/mana-movement-sales
  background-image:
    background_image: /uploads/images/manamei-80.jpg
    background-position: center
    overlay_style: medium
seo: 
  title: The Art of Dancing Life - 2 Day Masterclass with Mana Mei
  description: The Art of Dancing Life is a 2-Day Liberation Through Movement Virtual Masterclass with Mana Mei who want to meet each day with a sense of limitless potential and the anchored feeling of “Damn, I’m doing life really good”
  keywords: Mana Movement, feminine energy, intuitive dance, creative potential, embodied movement, embodied liberation
  social_image: /uploads/images/manamei-72.jpg
  hide-from-google: true
---
<!-- Course Heading -->
{% include hero-banner-course.html %}

<!-- Course Description -->
<section class="pt-10p px-10p pb-5p bg-image-style bg-overlay {{page.course-description.background-image.overlay_style}}" style="background-image: url('{{page.course-description.background-image.background_image}}'); background-position: {{page.course-description.background-image.image_focus}};">
  <h2 class="text-lg-serif text-feature">{{page.course-description.heading}}</h2>
  <div class="mb-12 md:w-[80%]">
      <p>{{page.course-description.description_html}}</p>
  </div>
  {% for item in page.course-description.module %}
  <div class="flex mb-12">
      <img src="{{item.image_path}}" class="h-16 mr-4">
      <div class="col-span-4">
          <h3 class="text-md-serif text-feature">{{item.title}}</h3>
          <div>
              <p>{{item.description_html}}</p>
          </div>
      </div>
  </div>
  {% endfor %}
</section>

<!-- Who It's For -->
<section class="bg-image-style bg-overlay py-10p px-5p p-5p md:p-10p text-center {{page.who-its-for.background-image.overlay_style}}" style="background-image: url('{{page.who-its-for.background-image.background_image}}'); background-position: {{page.who-its-for.background-image.image_focus}}">
  <h2 class="text-lg-serif">{{page.who-its-for.heading}}</h2>
  <div class="md:px-10p">
      <p>{{page.who-its-for.description_html}}</p>
  </div>
</section>

<!-- Banner -->
<section class="p-10p">
  <div class="md:w-[60%]">
    <p>Doing life really good doesn’t mean that we never meet challenges or have conflict, or that we never feel pain or disruption. Doing life really good means that we feel empowered to always bring ourself back to a sense of safety and freedom, no matter what life is throwing our way- to have agency (authority) over our own experience, inner and outer, and to stay firmly rooted in the driver’s seat of our life.</p>
  </div>
</section>

<!-- What You'll Experience -->
<section>
  <h2 class="hidden lg:block font-serif text-[3rem] leading-[1em] text-feature relative left-[5%] top-20">What you'll
      experience...</h2>

  <div class="grid lg:grid-cols-3">

      <!-- Left Column (text) -->
      <div class="lg:col-span-2 p-10p order-last lg:order-first">
          <h2 class="lg:hidden font-serif text-[3rem] leading-[1em] text-feature">What you'll experience...</h2>
          <h3 class="uppercase text-feature mt-8 lg:mt-16 mb-4">Deepen your embodiment knowledge</h3>
          <p class="mb-0">The 3 Pillars of Connection (the Foundation of the Liberation Through Movement Modality)</p>
          <ul class="list">
              <li>Connection to the Physical Body</li>
              <li>Connection to the Emotional Body</li>
              <li>Connection to the Transpersonal Body</li>
          </ul>
          <p class="mt-8 mb-0">The Sacred Balance</p>
          <ul class="list">
              <li>Safety & Freedom</li>
              <li>The Inner River- Masculine & Feminine Harmony</li>
          </ul>
          <p class="mt-8 mb-0">The Feminine Way - The Beauty Way</p>
          <ul class="list">
              <li>Transformation through softness & opening</li>
              <li>The Healing Cycle</li>
          </ul>
      </div>

      <!-- Right Column (image) -->
      <div class="bg-image-style min-h-[60vh]" style="background-image: url('/uploads/images/manamei-73.jpg'); background-position: 50% 35%;"></div>
  </div>
</section>


<!-- What You'll Get -->
<section>

  <div class="lg:grid lg:grid-cols-2 gap-5p lg:gap-10p mb-10p mx-10p lg:mt-10p">

      <!-- Left Column (image) -->
      <div class="mb-10p lg:mb-0 bg-image-style min-h-[60vh]" style="background-image: url('/uploads/images/manamei-7.jpg');"></div>

      <!-- Right Column (text) -->
      <div class="p-10p border border-feature">
          <h2 class="uppercase text-feature">Gain invaluable embodiment tools</h2>
          <p class="mb-4">(to use for the resot of your life!)</p>
          <p class="mb-0">Tools for Self-Regulating the Nervous System</p>
          <ul class="list">
              <li>Grounding and Interoception</li>
              <li>Kinesthetic Awareness</li>
          </ul>
          <p class="mt-8 mb-0">Emotional Alchemy & Energy Transmutation</p>
          <ul class="list">
              <li>Somatic Release & Channel Clearing</li>
              <li>Shadow Sourcing</li>
              <li>Pleasure Activation</li>
          </ul>
          <p class="mt-8 mb-0">Accessing Your Authentic Expression</p>
          <ul class="list">
              <li>Finding Your Unique Dance</li>
              <li>Expanding Your Movement Vocabulary</li>
              <li>Manifestation Through Intentional Embodiment</li>
          </ul>
      </div>
  </div>
</section>

<!-- Inside the Course -->
<section class="py-10p px-5p md:p-10p bg-image-style border-y border-feature"
    style="background-image: url('{{page.inside-the-course.background-image.background_image}}'); background-position: {{page.inside-the-course.background-image.image_focus}};">
    <div class="text-center">
        <h2 class="text-lg-serif text-feature">{{page.inside-the-course.heading}}</h2>
        <div class="md:w-[80%] mx-auto mb-8">
          <p>{{page.inside-the-course.description_html}}</p>
        </div>
    </div>
    <ul class="dropdown-menu">
        {% for item in page.inside-the-course.module %}
        <li x-data="{ open: false }" class="dropdown-item {% if forloop.last %}last-item {% endif %}">
            <button @click="open = ! open" class="flex justify-between w-full">
                <h3 class="mr-8 text-left">{{item.title}}</h3>

                <span x-show="!open">→</span>
                <span x-show="open">&nbsp;&nbsp;↓</span>
            </button>
            <div x-show="open" @click.outside="open = false" class="flex justify-between">
                <div class="justify-start">
                    <p><em>{{ item.description_html | safe }}</em></p>
                </div>
                {% if item.time.show == true %}
                <div class="justify-end">({{item.time.hours}}:{{item.time.minutes}})</div>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="text-center mt-8">
        <a href="{{page.heading.button-enroll.url}}" class="button">{{page.heading.button-enroll.text}}</a>
    </div>
</section>

<!-- Testimonials -->
{% include testimonials.html %}

<!-- Meet Your Teacher -->
{% if page.video.show == true %}
{% include about-mana-course.html %}
{% endif %}

<!-- CTA -->
{% include cta-course.html %}