---
layout: no-promo
slug: women-who-feel
title: This is for Women who Feel…
description: A movement masterclass with Mana Mei, International Women's Embodiment Mentor
featured-image: /uploads/images/women-who-feel-1.jpg
heading:
  title: 
  subtitle: 
  description: >-
    A movement masterclass with Mana Mei, International Women's Embodiment Mentor
  button-enroll:
    text: Register now
    url: https://manamei.mysamcart.com/checkout/this-is-for-women-who-feel
  button-video:
    show: false
    type: youtube
    text: Watch the video
    url: 
  background_image: /uploads/images/women-who-feel-2.jpg
  overlay_style: medium
course-description:
  description_html: >-
    <p>Being human is complicated. And it seems to just be getting more and more complicated.</p>
    <p>We have so many choices on who, what, and how, we can be, what we should believe, and who we should belong to…</p>
    <p>Choices that will hopefully result in actually being happy and satisfied with life?</p>
    <p>What do we choose that will ensure that we can move through life feeling safe and secure, and authentic and free?</p>
who-its-for:
  heading: If you are a woman who desires to feel...
  description_html: >-
    <p>Safe in your Body, Safe in your emotions, Safe in the World & Free in your Body, Free in your Emotions, Free in the World… Then you are not alone.</p>
    <p>Uncertain, Confused, Anxious, Overwhelmed, Disconnected, And yearning to feel at home in the warm embrace of your own sovereign Body…. Then you are not alone.</p>
    <p>If you are a woman who (sometimes) feels…</p>
    <p>And if these words resonate with you, then you are probably also a woman who feels…</p>
    <p>That there is a way home, That there is a spark of light within, That there is an answer hidden inside, That there is Wisdom waiting to be discovered in your own sovereign Body… Then you are in the RIGHT PLACE.</p>
  background-image:
    background_image: /uploads/images/women-who-feel-3.png
    image_focus: center
    overlay_style: dark
inside-the-course:
  heading: Inside confiDance
  description_html: >-
    <p>Easy to follow Step-by-Step Process for Embodied Liberation</p>
  module:
    - title: Step 1 - Activate the Dance of the Arms
    - title: Step 2 - Activate the Dance of the Spine
    - title: Step 3 - Activate the Dance of the Hips & Legs
    - title: Step 4 - Activate your FULL BODY Free Dance
  background-image:
    background_image: /uploads/backgrounds/manamei-4.jpg
    image_focus: center
testimonials:
  background_image: /uploads/images/manamei-93.JPEG
  overlay_style: dark
  testimonials:
    - testimonial: I clearly see and feel the changes in my life and in my body. I see more fluidity in every parts of the every day life, professional, personal…It’s really amazing and magical !!! I feel more present, more grounded, more feminine, more aware, more confident, more a lot of things!!! I also have more creativity.
    - testimonial: I’m getting to know myself better with every Mana Movement practice. I’m becoming more confident and believe in myself. I'm showing myself to the world in a more authentic way.
    - testimonial: My main intention when I began the Mana Movement practice was to feel more open, comfortable, confident, and at ease in my own body—ultimately to trust myself on a deeper level. I wanted to break free of worrying about how others might perceive or judge me. And wow, so far the whole experience has already been about this—and so much more.
    - testimonial: My energy is exploding! I feel so emotionally stable and safe. Life is just flowing…
  border: border-y border-feature
investment:
  heading: The Offering
  includes:
    heading: What's included
    list:
      - list-item: Receive lifetime access to all course curriculum!
      - list-item: 4 video-guided Mana Movement Practices
      - list-item: 2 BONUS Embodiment Movement Practices
      - list-item: 1 Introduction to Mana Movement PDF
      - list-item: 1 Welcome Video
  pricing:
    pay-in-full:
      heading: Pay in Full
      price: $90
    payment-plan:
      show: true
      heading: 2-Month Payment Plan
      price: $50/month
  background_image: 
  overlay_style: 
cta:
  heading: Are you ready to meet every moment from a place of feeling open, courageous, and full of creative inspiration?
  description_html: >-
    <p>Are you ready to move through life feeling deeply safe and expansively free?</p><p>confi<em>Dance</em> will help you reclaim your radiant expression!​</p><p>To meet every moment of life with a sense of EXPANSION, softness, and openness, while also being ANCHORED, grounded, and centered.</p><p>To cultivate more safety and freedom in your body, and in your capacity to express your true self through the way you move, both in your dance and in every moment of your life!</p>
  button:
    text: Enroll Now
    url: https://manamei.teachable.com/p/confidance
  background-image:
    background_image: /uploads/images/manamei-93.JPEG
    background-position: 
    overlay_style: dark
seo: 
  title: confiDance - A Mana Movement Program to FREE your authentic expression on and off the dance floor
  description: confiDance is a step-by-step Mana Movement Program where you will be guided into activating the Feminine Pathways through every part of the body in order to bring you into deep connection with your authentic movement, building your unique free flow dance that is sourced from the internal impulses of your body, your inner voice of embodied wisdom, your unique radiant Spirit, and the pleasure of fully inhabiting your authentic expression, both on and off the dance floor!
  keywords: Mana Movement, feminine embodiment, women's empowerment, dance and movement, Mana Mei, creative expression, embodiment practices, embodied movement, authentic dance
  social_image: /uploads/images/manamei-91.jpg
  hide-from-google: true
---
<!-- Course Heading -->
<section class="bg-image-style min-h-[90vh]" style="background-image: url('{{page.heading.background_image}}');"></section>

<!-- Course Description -->
<section class="md: pt-5p lg:pt-10p px-10p pb-5p bg-image-style bg-overlay {{page.course-description.background-image.overlay_style}}" style="background-image: url('{{page.course-description.background-image.background_image}}'); background-position: {{page.course-description.background-image.image_focus}};">
  <div class="md:text-center mb-12">
      <p>{{page.course-description.description_html}}</p>
  </div>
  {% for item in page.course-description.module %}
  <div class="flex mb-12">
      <img src="{{item.image_path}}" class="h-16 mr-4">
      <div class="col-span-4">
          <h3 class="text-md-serif text-feature">{{item.title}}</h3>
          <div>
              <p>{{item.description_html}}</p>
          </div>
      </div>
  </div>
  {% endfor %}

</section>

<!-- Who It's For -->
<section>
  <!-- 2 Columns -->
  <div class="grid md:grid-cols-2">

    <!-- Left Column (image) -->
    <div class="mb-10p md:mb-0 bg-image-style min-h-[60vh] md:min-h-[90vh] mx-10p" style="background-image: url('{{page.who-its-for.background-image.background_image}}');"></div>

    <!-- Right Column (text) -->
    <div class="flex items-center justify-center">
      <div class="md:py-10p pl-10p pr-10p md:pr-[20%]">
        <h2 class="text-lg-serif text-feature">{{page.who-its-for.heading}}</h2>
        <div>{{page.who-its-for.description_html}}</div>
      </div>
    </div>

  </div>

</section>

<!-- Inside the Course -->
<section>

  <!-- Mobile Image (hidden on desktop) -->
  <div class="bg-image-style min-h-[60vh] mt-10p mx-10p md:hidden" style="background-image: url('/uploads/images/manamei-92.JPEG');"></div>

  <div class="grid lg:grid-cols-3 gap-8">
      <!-- Left Column (text) -->
      <div class="lg:col-span-2 p-10p">
          <div>
              <h2 class="text-lg-serif text-feature">{{page.inside-the-course.heading}}</h2>
              <p>{{page.inside-the-course.description_html}}</p>
          </div>
          <ul class="dropdown-menu">
              {% for item in page.inside-the-course.module %}
              <li x-data="{ open: false }" class="dropdown-item {% if forloop.last %}last-item {% endif %}">
                  <button @click="open = ! open" class="flex justify-between w-full">
                      <h3 class="mr-8 text-left">{{item.title}}</h3>

                      <span x-show="!open">→</span>
                      <span x-show="open">&nbsp;&nbsp;↓</span>
                  </button>
                  <div x-show="open" @click.outside="open = false" class="flex justify-between">
                      <div class="justify-start">
                          <p><em>{{ item.description_html | safe }}</em></p>
                      </div>
                      {% if item.time.show == true %}
                      <div class="justify-end">({{item.time.hours}}:{{item.time.minutes}})</div>
                      {% endif %}
                  </div>
              </li>
              {% endfor %}
          </ul>
          <div class="mt-8">
              <a href="{{page.cta.button.url}}" class="button">{{page.cta.button.text}}</a>
          </div>
      </div>

      <!-- Right Column (image) -->
      <div class="bg-image-style min-h-[60vh] lg:bg-[bottom]"
          style="background-image: url('uploads/images/manamei-95.JPEG');">
      </div>
  </div>
</section>

<!-- Investment -->
<section class="bg-image-style bg-overlay {{page.investment.overlay_style}} p-10p" style="background-image: url('{{page.investment.background_image}}');">
  <h2 class="text-lg-serif mb-8 text-feature md:text-center">{{page.investment.heading}}</h2>
  <div class="grid md:grid-cols-3 md:gap-8">
      <!-- Includes -->
      <div class="md:col-span-2 text-left">
          <h3 class="uppercase text-2xl">{{page.investment.includes.heading}}</h3>
          <ul>
              {% for item in page.investment.includes.list %}
              <li class="list-disc ml-4 mb-2">{{item.list-item}}</li>
              {% endfor %}
          </ul>
      </div>
      <!-- Pricing Options -->
      <div class="text-left mt-8 md:mt-0">
          <div class="mb-8">
              <h3 class="uppercase text-2xl">{{page.investment.pricing.pay-in-full.heading}}</h3>
              <span>{{page.investment.pricing.pay-in-full.price}}</span>
              {% if page.investment.pricing.payment-plan.show == true %}
          </div>
          <div>
              <h3 class="uppercase text-2xl">{{page.investment.pricing.payment-plan.heading}}</h3>
              <span>{{page.investment.pricing.payment-plan.price}}</span>
          </div>
          {% endif %}
      </div>
      <!-- CTA -->
  <div class="mt-8">
      <a href="{{page.cta.button.url}}" class="button">{{page.cta.button.text}}</a>
  </div>
  </div>
</section>

<!-- Testimonials -->
<section class="bg-image-style bg-overlay 
{{ page.testimonials.overlay_style }} bg-[url('{{page.testimonials.background_image}}')] p-10p bg-overlay-light" style="background-position: 50% 65%;">
    <p class="text-feature">Thousands of women around the world are using Mana Movement as a <span class="font-serif">life-changing</span> method of personal transformation...</p>
    <div>
      {% for item in page.testimonials.testimonials %}
      <div class="md:px-10p">
        <p class="text-center mt-8"><em>"{{item.testimonial}}"</em></p>
        <p class="text-right">{{item.author}}</p>
      </div>
      {% endfor %}
    </div>
</section>

<!-- CTA -->
<section>
  <!-- 2 Columns -->
  <div class="grid md:grid-cols-2">

    <!-- Left Column (image) -->
    <div class="order-last md:order-first m-10p bg-image-style min-h-[60vh] md:min-h-[90vh] mx-10p" style="background-image: url('/uploads/images/manamei-99.png');"></div>

    <!-- Right Column (text) -->
    <div class="flex items-center justify-center">
      <div class="pt-10p md:py-10p pr-10p md:pr-[20%] pl-10p md:pl-0">
        <div>
          <h2>Are you ready to meet every moment from a place of feeling <span class="font-serif">open, courageous,</span> and <span class="font-serif">full of creative inspiration</span>?</h2>
          <div>
              <p>{{page.cta.description_html}}</p>
          </div>

          <!-- Button -->
          <div class="mt-8">
              <a href="{{page.cta.button.url}}" class="button">{{page.cta.button.text}}</a>
          </div>
      </div>
      </div>
    </div>

  </div>

</section>