<div x-data="{ open: false }" 
     x-init="$el.classList.remove('hidden'); setTimeout(() => { open = false; }, 100)"
     class="text-center hidden">

    <!-- Trigger Button -->
    <button @click="open = true" class="button">
        {{page.heading.button-enroll.text}}
    </button>

    <!-- Popup Overlay -->
    <div x-show="open" x-cloak class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-50"
        @click.self="open = false" @keydown.escape.window="open = false">
        <!-- Popup Content -->
        <div class="relative bg-white w-full max-w-3xl mx-4 rounded-lg shadow-lg">
            <!-- Close Button -->
            <button @click="open = false"
                class="absolute top-3 right-[1.25rem] text-[3rem] font-[100] text-black hover:text-feature hover:duration-500 focus:outline-none">
                &times;
            </button>
            <!-- Iframe Container -->
            <div class="p-4">
                <iframe src="https://manamei.mysamcart.com/checkout/the-art-of-dancing-life-masterclass" frameborder="0"
                    class="w-full h-screen max-h-[80vh] rounded-md"></iframe>
            </div>
        </div>
    </div>
</div>