<div id="cookieConsentBanner" class="cookie-banner hidden">
    <div class="flex justify-between">
        <div class="text-center">
            <span>I value your privacy, and to provide the best possible experience, my website uses cookies. By
                accepting this agreement, you automatically consent to the use of cookies.</span>
        </div>
        <div class="text-right text-lg cursor-pointer ml-4">
            <span id="close-cookie-banner">X</span>
        </div>
    </div>
    <div class="flex justify-center mt-4">
        <a id="acceptCookies"
            class="border border-feature bg-feature text-dark button-cookies cursor-pointer">Accept</a>
        <a id="declineCookies" class="border border-light mx-4 button-cookies cursor-pointer">Decline</a>
    </div>
</div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CRCY02QTGY"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-CRCY02QTGY');
</script>

<!-- JS -->
<script>
    // Function to handle accept
    function acceptCookies() {
        // Set a cookie to remember the choice
        document.cookie = "cookiesAccepted=true; path=/; max-age=31536000"; // max-age is set for 1 year

        // Hide the cookie banner
        document.getElementById('cookieConsentBanner').style.display = 'none';

        // Load Google Analytics script
        loadGAScript();
    }

    // Function to handle decline
    function declineCookies() {
        // Hide the cookie banner
        document.getElementById('cookieConsentBanner').style.display = 'none';
    }

    // Event listeners for the Accept and Decline buttons
    document.getElementById('acceptCookies').addEventListener('click', acceptCookies);
    document.getElementById('declineCookies').addEventListener('click', declineCookies);

    // Function to close the cookie banner (added for the 'X' button)
    function closeCookieBanner() {
        document.getElementById('cookieConsentBanner').style.display = 'none';
    }

    // Event listener for the 'X' button
    document.getElementById('close-cookie-banner').addEventListener('click', closeCookieBanner);

    // Function to load Google Analytics Script
    function loadGAScript() {
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-F5PMXNHH7K');
    }

    // Function to check cookie consent
    function checkCookieConsent() {
        if (document.cookie.indexOf("cookiesAccepted=true") !== -1) {
            loadGAScript();
        } else {
            // Show the cookie banner if not yet accepted
            document.getElementById('cookieConsentBanner').style.display = 'block';
        }
    }

    // Check the cookie consent on page load
    document.addEventListener('DOMContentLoaded', checkCookieConsent);

</script>