<section class="section-padding bg-image-style bg-overlay {{page.cta.background-image.overlay_style}}"
    style="background-image: url('{{page.cta.background-image.background_image}}'); background-position: {{page.cta.background-image.image_focus}};">
    <div class="text-center">
        <h2 class="text-lg-serif">{{page.cta.heading}}</h2>
        <div class="md:px-10p">
            <p>{{page.cta.description_html}}</p>
        </div>
    </div>
    <div class="text-center mt-8">
        <a href="{{page.cta.button.url}}" class="button">{{page.cta.button.text}}</a>
    </div>
</section>