<section class="pt-10p px-10p pb-5p bg-image-style bg-overlay {{page.course-description.background-image.overlay_style}}" style="background-image: url('{{page.course-description.background-image.background_image}}'); background-position: {{page.course-description.background-image.image_focus}};">
    <div class="text-center mb-12">
        <h2 class="heading-lg-sans text-feature">{{page.course-description.heading}}</h2>
        <p>{{page.course-description.description_html}}</p>
    </div>
    {% for item in page.course-description.module %}
    <div class="flex mb-12">
        <img src="{{item.image_path}}" class="h-16 mr-4">
        <div class="col-span-4">
            <h3 class="text-md-serif text-feature">{{item.title}}</h3>
            <div>
                <p>{{item.description_html}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</section>