<!-- Free Offering -->
<form>
    <div class="block md:grid md:grid-cols-7 md:gap-2">
        <div class="my-2 md:my-0 md:col-span-2">
            <input type="text" id="first-name" name="first-name" placeholder=" First Name"
                class="bg-transparent border border-white w-full">
        </div>

        <div class="my-2 md:my-0 md:col-span-2">
            <input type="text" id="last-name" name="last-name" placeholder=" Last Name"
                class="bg-transparent border border-white w-full">
        </div>

        <div class="my-2 md:my-0 md:col-span-2">
            <input type="email" id="email" name="email" placeholder=" Email"
                class="bg-transparent border border-white w-full">
        </div>

        <div class="button-form">
            <button type="submit">Submit</button>
        </div>
    </div>
</form>