<section class="grid grid-cols-9">
    <!-- 1st Column -->
    <div>
        <div class="grid grid-cols-3">
            <div class="col-span-2">image 1</div>
            <div>image 2</div>
        </div>
        <div>image 3</div>
    </div>

    <!-- 2nd Column -->
    <div>image 4</div>

    <!-- 3rd Column -->
    <div>image 5</div>

    <!-- 4th Column -->
    <div>image 6</div>

    <!-- 5th Column -->
    <div>image 7</div>

    <!-- 6th Column -->
    <div>image 8</div>

    <!-- 7th Column -->
    <div>image 9</div>

    <!-- 8th Column -->
    <div>image 10</div>

    <!-- 9th Column -->
    <div>image 11</div>

    <!-- 10th Column -->
    <div>
        <div>image 12</div>
        <div class="grid grid-cols-3">
            <div>image 13</div>
            <div class="col-span-2">image 14</div>
        </div>
    </div>

    <!-- 11th Column -->
    <div>image 15</div>
    
</section>