<section class="min-h-[90vh]">
    <div class="text-container">
        <div class="text-item">
            <p>Embody <span class="font-serif">Radical Self Acceptance</span> & Embrace all Aspects of your Self</p>
        </div>
        <div class="text-item">
            <p>Create Balance in your life & establish an unwavering Inner Anchor</p>
        </div>
        <div class="text-item">
            <p>Heal your relationship with your Emotions, through acknowledgement & expression</p>
        </div>
        <div class="text-item">
            <p>Feel supported in your journey by Connecting with women around the world</p>
        </div>
        <div class="text-item">
            <p>Learn powerful Embodiment Practices & Life-changing Movement Tools</p>
        </div>
        <div class="text-item">
            <p>Heal and Grow through the Feminine Way focusing on Pleasure & Creativity</p>
        </div>
        <div class="text-item">
            <p>Take back your Power, Know your Worth Become the Leader of your life</p>
        </div>
    </div>
</section>