<section class="p-10p bg-image-style"
    style="background-image: url('{{page.inside-the-course.background-image.background_image}}'); background-position: {{page.inside-the-course.background-image.image_focus}};">
    <div class="text-center">
        <h2 class="heading-lg-sans text-feature">{{page.inside-the-course.heading}}</h2>
        <p>{{page.inside-the-course.description_html}}</p>
    </div>
    <ul class="list-none">
        {% for item in page.inside-the-course.module %}
        <li x-data="{ open: false }" class="border-b border-white my-8">
            <button @click="open = ! open" class="flex justify-between w-full">
                <h3 class="text-left mb-8 mr-8">{{item.title}}</h3>

                <span x-show="!open">→</span>
                <span x-show="open">&nbsp;&nbsp;↓</span>
            </button>
            <div x-show="open" @click.outside="open = false" class="flex justify-between">
                <p class="mb-8 mr-8 italic justify-start">{{item.description_html}}</p>
                {% if page.inside-the-course.module.time.show == true %}
                <span class="justify-end">({{item.time.hours}}:{{item.time.minutes}})</span>
                {% endif %}
            </div>
        </li>
        {% endfor %}
        <div class="text-center">
            <a href="{{page.heading.button-enroll.url}}" class="button">{{page.heading.button-enroll.text}}</a>
        </div>
</section>