<section class="p-5p pb-0">
    <h2 class="text-md-serif text-feature text-center">{{page.map.heading}}</h2>
    <p class="text-center">{{page.map.description}}</p>
    <div class="grid grid-cols-5 mt-12">
        {% for item in page.map.offering %}

        <!-- icon -->
        <div class=col-span-1>
            <img src={{item.image_path}} class="h-16 sm:h-20 md:h-24">
        </div>
    
        <div class="col-span-4 mb-12">
            <h3 class="heading-md-sans text-feature">{{item.title}}</h3>
            <span class="lowercase text-feature">{{item.type}}</span>
            <p>{{item.description}}</p>
            <a href="{{item.url}}" class="link">Learn more</a>
        </div>

        {% endfor %}
</section>