<!-- Small Devices & Smaller -->
<section class="md:hidden pt-10p px-5p">
    <h2 class="text-md-serif text-feature text-center">{{page.map.heading}}</h2>
    <p class="text-center">{{page.map.description}}</p>
    <div class="grid grid-cols-5 mt-12">
        {% for item in page.map.offering %}

        <!-- icon -->
        <div class="col-span-1 px-2 text-center">
            <img src="{{item.image_path}}" class="h-16 sm:h-20 md:h-24 bg-black z-20 inline-block">
            {% if forloop.last %}
            <!-- Omit the div structure for the last item -->
            {% else %}
            <div class="grid grid-cols-2 h-full">
                <div class="border-r-[0.5px] border-feature h-full"></div>
                <div></div>
            </div>
            {% endif %}
        </div>

        <div class="col-span-4 mb-12 ml-2">
            <h3 class="heading-md-sans text-feature">{{item.title}}</h3>
            <span class="lowercase text-feature">{{item.type}}</span>
            <p>{{item.description}}</p>
            <a href="{{item.url}}" class="link">Learn more</a>
        </div>

        {% endfor %}
</section>

<!-- Medium Devices & Larger -->
<section class="hidden md:block md:px-5p lg:px-10p pt-10p">
    <h2 class="text-md-serif text-feature text-center">{{page.map.heading}}</h2>
    <p class="text-center">{{page.map.description}}</p>
    <div class="grid grid-cols-12 mt-12">
        {% for item in page.map.offering %}
        {% capture thecycle %}{% cycle 'left', 'right' %}{% endcapture %}
        {% if thecycle == 'left' %}

        <!-- Content Left -->
        <div class="col-span-5 mb-12 
        {% cycle 'text-right', 'text-left' %}">
            <h3 class="heading-md-sans text-feature">{{item.title}}</h3>
            <span class="lowercase text-feature">{{item.type}}</span>
            <p>{{item.description}}</p>
            <a href="{{item.url}}" class="link">Learn more</a>
        </div>

        <div class="col-span-2 px-2 text-center">
            <img src="{{item.image_path}}" class="h-28 bg-black z-20 inline-block">
            {% if forloop.last %}
            <!-- Omit the div structure for the last item -->
            {% else %}
            <div class="grid grid-cols-2 h-full">
                <div class="border-r border-feature h-full"></div>
                <div></div>
            </div>
            {% endif %}
        </div>

        <div class="col-span-5"></div>
        {% else %}

        <!-- Content Right -->
        <div class="col-span-5"></div>

        <div class="col-span-2 px-2 text-center">
            <img src="{{item.image_path}}" class="h-28 bg-black z-20 inline-block">
            {% if forloop.last %}
            <!-- Omit the div structure for the last item -->
            {% else %}
            <div class="grid grid-cols-2 h-full">
                <div class="border-r border-feature h-full"></div>
                <div></div>
            </div>
            {% endif %}
        </div>

        <div class="col-span-5 p-5p mb-12
        {% cycle 'text-right', 'text-left' %}">
            <h3 class="heading-md-sans text-feature">{{item.title}}</h3>
            <span class="lowercase text-feature">{{item.type}}</span>
            <p>{{item.description}}</p>
            <a href="{{item.url}}" class="link">Learn more</a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>