<section class="bg-image-style">
    <h2>Liberation Through Movement Free E-Book</h2>
    <h3>A guide to transmuting stagnant energy into activated feminine power</h3>
    <p>A new experiential guide on how to reclaim freedom in the body, cultivate peace and wholeness, and show up in the
        world as a fully expressed woman.</p>
    <form>
        <div class="mb-4">
            <input type="text" id="first-name" name="first-name" class="block border-b border-white w-full">
            <label for="first-name">First Name:</label>
        </div>

        <div class="mb-4">
            <input type="text" id="last-name" name="last-name" class="block border-b border-white w-full">
            <label for="last-name">Last Name:</label>
        </div>

        <div class="mb-4">
            <input type="email" id="email" name="email" class="block border-b border-white w-full">
            <label for="email">Email:</label>
        </div>

        <button type="submit" class="button">Send</button>
    </form>
</section>