<section class="bg-image-style">
    <h2>Liberation Through Movement</h2>
    <h3>Free Masterclass Replay</h3>
    <p>This is the perfect resource for anyone interested to learn more about the HOW and WHY the Liberation Through
        Movement Modality for Healing works.</p>P
    <p>In this experiential movement Masterclass where you will be introduced to the Liberation Through Movement Model-
        a 3-pillar process for taking the leap from feeling disconnected to arriving in life as a liberated and embodied
        woman.</p>
    <p>I cover in depth the elements needed for you to take the journey back home to your True Self and arrive in a more
        satisfying experience of life, one in which you feel able to navigate the ups and downs of life from a place of
        grounded presence and safety.</p>
    <p>You will also have the opportunity to be guided through an LTM Movement process to experience it yourself!</p>
    <form>
        <div class="mb-4">
            <input type="text" id="first-name" name="first-name" class="block border-b border-white w-full">
            <label for="first-name">First Name:</label>
        </div>

        <div class="mb-4">
            <input type="text" id="last-name" name="last-name" class="block border-b border-white w-full">
            <label for="last-name">Last Name:</label>
        </div>

        <div class="mb-4">
            <input type="email" id="email" name="email" class="block border-b border-white w-full">
            <label for="email">Email:</label>
        </div>

        <button type="submit" class="button">Send</button>
    </form>
</section>