<section class="bg-image-style p-10p text-center" style="background-image: url('{{page.cta.background.background_image}}'); background-position: {{page.cta.background.background_position}};">
    <h2 class="heading-lg-sans text-feature">{{page.cta.heading_html}}</h2>
    <h3 class="text-feature mb-4">{{page.cta.subtitle}}</h3>
    <p>{{page.cta.description}}</p>
    {% if page.type == e-book %}
    {% include form-ebook.html %}
    {% elsif page.type == workshop-reply %}
    {% endif %}
</section>