<section class="bg-image-style p-10p text-center" style="background-image: url('{{page.cta.background.background_image}}'); background-position: {{page.cta.background.background_position}};">
    <h2 class="heading-lg-sans text-feature">{{page.cta.heading_html}}</h2>
    <h3 class="text-feature mb-4">{{page.cta.subtitle}}</h3>
    <p>{{page.cta.description}}</p>
    {% if page.type == e-book %}
    <form>
        <div class="grid grid-cols-7 gap-2">
            <div class="col-span-2">
                <input type="text" id="first-name" name="first-name" placeholder=" First Name" class="bg-transparent border border-white w-full">
            </div>

            <div class="col-span-2">
                <input type="text" id="last-name" name="last-name" placeholder=" Last Name" class="bg-transparent border border-white w-full">
            </div>

            <div class="col-span-2">
                <input type="email" id="email" name="email" placeholder=" Email" class="bg-transparent border border-white w-full">
            </div>

            <button type="submit" class="button-form">Submit</button>
        </div>
    </form>
    {% endif %}
</section>