<section class="bg-image-style bg-overlay {{page.cta.background.overlay_style}}">
    <h2>{{page.cta.heading_html}}</h2>
    <h3>{{page.cta.subtitle}}</h3>
    <p>{{page.cta.description_html}}</p>
    <form>
        <div class="mb-4">
            <input type="text" id="first-name" name="first-name" class="block border-b border-white w-full">
            <label for="first-name">First Name:</label>
        </div>

        <div class="mb-4">
            <input type="text" id="last-name" name="last-name" class="block border-b border-white w-full">
            <label for="last-name">Last Name:</label>
        </div>

        <div class="mb-4">
            <input type="email" id="email" name="email" class="block border-b border-white w-full">
            <label for="email">Email:</label>
        </div>

        <button type="submit" class="button">Send</button>
    </form>
</section>