<!-- Popup -->
<div id="popup"
    class="hidden fixed top-5p md:top-20p bottom-5p md:bottom-20p right-5p sm:right-10p md:right-20p left-5p sm:left-10p md:left-20p flex items-center justify-center align-center border border-feature bg-black z-20 bg-image-style bg-overlay dark" style="background-image: url('/uploads/images/manamei-54.jpg')">

    <!-- Close Button (X) in upper-right corner -->
    <button id="popupClose"
        class="absolute top-4 right-6 text-[1.5rem] font-100 text-white hover:text-feature hover:duration-500">
        X
    </button>
    <div class="text-center p-10p">
        <h2 class="text-md-serif mb-4 text-feature">Are you interested in joining <span class="underline">in-person</span> retreats and workshops with Mana Mei?</h2>
        <p>Join the retreat waitlist to be the first to know when Mana announces her next in-person offerings</p>
        <div>
            {% include form-retreat.html %}
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Set a timer to show the popup after 5 seconds
        setTimeout(function () {
            document.getElementById("popup").classList.remove("hidden");
        }, 5000);

        // Close the popup when "Close" button is clicked
        document.getElementById("popupClose").addEventListener("click", function () {
            document.getElementById("popup").classList.add("hidden");
        });

        // Handle the "Go to Offer" button click
        document.getElementById("popupAction").addEventListener("click", function () {
            document.getElementById("popup").classList.add("hidden");
        });
    });
</script>
