<footer>

    <div class="pt-5p pb-[2.5%] px-5p">

        <div class="grid sm:grid-cols-5 gap-4">

            <!-- Left Column (Menu) -->
            <div class="sm:col-span-3">
                <span class="text-sm-serif block text-feature">Mana Mei</span>
                <h2>Offerings</h2>
                <nav>
                    {% for item in site.data.site-settings.navigation-footer %}
                    <a href="{{item.url}}" class="block mb-2">{{item.title}}</a>
                    {% endfor %}
                </nav>
            </div>

            <!-- Right Column (Subscribe) -->
            <div class="sm:col-span-2 text-center">
                <p class="font-serif lowercase text-feature text-[2rem]">Join the Circle</span></p>
                <p>Sign up for our newsletter and join the Mana Mei community.</p>
                <div>
                    {% include form-subscribe.html %}
                </div>
            </div>

        </div>

        <!-- Social -->
        <div class="flex justify-center">
            <a href="https://www.instagram.com/manamei_movement/" target="_blank"><img
                    src="/uploads/icons/manamei-9.png" class="social-icon"></a>
            <a href="https://www.facebook.com/groups/liberationthroughmovement" target="_blank"><img
                    src="/uploads/icons/manamei-4.png" class="social-icon"></a>
            <a href="https://www.youtube.com/@ManaMei" target="_blank"><img src="/uploads/icons/manamei-22.png"
                    class="social-icon"></a>
        </div>
    </div>
    <div class="p-4">
        <p class="text-center text-[0.9rem]">Crafted & Developed by <a href="https://embodiedcreativeagency.com"
                target="_blank">Embodied Creative</a></p>
    </div>
</footer>