<div class="social-share fixed top-[50%] left-0 bg-dark/50 border-t border-r border-b border-feature p-2">

    <nav class="text-white">
        <a class="block py-4 px-2 hover:text-feature" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Twitter">
            <img src="/uploads/icons/manamei-23.png" class="h-[1.5rem]">
        </a>
        <a class="block py-4 px-2 hover:text-feature" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
            <img src="/uploads/icons/manamei-24.png" class="h-[1.5rem]">
        </a>
        <a class="block py-4 px-2 hover:text-feature" href="http://pinterest.com/pin/create/link/?url={{page.url}}&description={{page.title}}" rel="nofollow" target="_blank" title="Share on Pinterest">
            <img src="/uploads/icons/manamei-25.png" class="h-[1.5rem]">
        </a>
    </nav>

</div>