<section class="bg-image-style" style="background-image: url('{{page.start-here.image_path}}');">
    <h2>Start Here</h2>
    <h3>{{page.start-here.heading}}</h3>
    <div>
        <p>{{page.start-here.description_html}}</p>
    </div>
    <div class="grid grid-cols-3">
        <div class="col-span-2">
            <ul>
                {% for item in page.start-here.benefits %}
                <li>{{page.start-here.benefits.benifit}}</li>
                {% endfor %}
            </ul>
            <a href="{{page.start-here.button.url}}">{{page.start-here.button.text}}</a>
        </div>
        <div class=”youtube-container”>
            <div class='embed-container'>
                <iframe src='{{page.start-here.video_url}}' frameborder='0' allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>