<section class="bg-image-style bg-overlay 
{{ page.testimonials.overlay_style }} bg-[url('{{page.testimonials.background_image}}')] p-10p bg-overlay-light {{page.testimonials.border}} {{page.testimonials.border}}">
    <div class="icon">
        <img src="/uploads/icons/manamei-17.png" class="h-12">
    </div>
    <div class="testimonial-container">
        {% for item in page.testimonials.testimonials %}
        <div class="testimonial-item">
            <p class="text-center"><em>"{{item.testimonial}}"</em></p>
            <p class="text-right">{{item.author}}</p>
        </div>
        {% endfor %}
    </div>
</section>