<!DOCTYPE html>
<html lang="en">

<head>

    {% include head.html %}

</head>

<body>

    <!-- Site Header -->
    {% include site-header.html %}

    {{content}}

    <!-- Footer -->
    {% include site-footer.html %}

    <!-- Cookie Banner -->
    {% include cookie-banner.html %}

    <!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" integrity="sha512-AFwxAkWdvxRd9qhYYp1qbeRZj6/iTNmJ2GFwcxsMOzwwTaRwz2a/2TX225Ebcj3whXte1WGQb38cXE5j7ZQw3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Magnific Popup core JS file -->
<script src="/magnific-popup/jquery.magnific-popup.js"></script>

<!-- Slick -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Javascript  -->
    <script src="/main.js" defer></script>

</body>

</html>