<!DOCTYPE html>
<html lang="en">

<head>

    {% include head.html %}

</head>

<body>
    <!-- Banner -->
    <section class="banner-feature">
        <span>{{page.banner.text}}</span>
    </section>

    <!-- Details -->
    <section class="grid grid-cols-3">
        <div class="col-span-2 px-10p pt-10p">
            <h1 class="heading-md-sans text-feature">{{page.details.title}}</h1>
            <h2 class="capitalize text-feature mb-8">{{page.details.subtitle}}</h2>
            <p>{{page.details.description_html}}</p>
            <div class="heading-md-sans">
                <p class="mb-2">{{page.details.time}} {{page.details.time-zone}}</p>
                <p>
                    {{page.details.day-of-the-week}}, {{page.details.date}}
                </p>
            </div>
            <a href="#" class="button mt-4 inline-block">{{page.details.button.text}}</a>
        </div>
        <div class="bg-image-style bg-[url('{{page.details.featured_image}}')]"></div>
    </section>

    <!-- Your Instructor -->
    {% include about-mana-course.html %}

    <!-- CTA -->
    <section class="bg-image-style bg-overlay p-10p text-center" style="background-image: url('{{page.cta.background-image.background_image}}'); background-position: {{page.cta.background-image.image_focus}};">
        <h2 class="heading-lg-sans">{{page.cta.heading}}</h2>
        
        {% include form-free-offering.html %}

        <h3 class="text-feature mt-8">{{page.cta.share-text}}</h3>
        <p>FB IG MAIL</p>
    </section>

    <!-- Footer -->
    {% include site-footer.html %}

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7/jquery.min.js"
        integrity="sha512-Pqx0ZVocHCSzTLK4pm0GhccHtOT6fmZz+tqfYHV/llI60gB9sr9jkiqrqSEwFJIrzpcZEHPJjsq4GcC731UNXg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"
        integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Lightgallery for pop-ups  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/lightgallery.min.js"></script>

    <!-- Javascript  -->
    <script src="/main.js"></script>

</body>

</html>