---
layout: default
---

<!-- Course Heading -->
<section class="bg-image-style">
    <h2>{{page.heading.title}}</h2>
    <h3>{{page.heading.subtitle}}</h3>
    <p>{{page.heading.description}}</p>
    <a href="{{page.heading.button-enroll.url}}">{{page.heading.button-enroll.text}}</a>
    {% if page.heading.button-video.show == true %}
    <a href="{{page.heading.button-video.url}}">{{page.heading.button-video.text}}</a>
    {% endif %}
</section>

<!-- Banner -->
<section class="flex justify-around">
    <div>
        {% for item in page.banner %}
        <div class="bg-image bg-[url('{{item.image_path}}')]"></div>
        <span>{{item.title}}</span>
        <p>{{item.benefit}}</p>
        {% endfor %}
    </div>
</section>

<!-- Video -->
{% if page.video.show == true %}
<section class="min-h-70vh"></section>
{% endif %}

<!-- Course Description -->
<section>
    <h2>{{page.course-description.heading}}</h2>
    <p>{{page.course-description.description}}</p>
    <div class="grid grid-cols-5">
        {% for item in page.course-description.module %}
        <div class="bg-image-style bg-[url('{{page.course-description.module.image_path}}')]"></div>
        <div class="col-span-4">
            <h3>{{item.title}}</h3>
            <p>{{item.description_html}}</p>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Who It's For -->
<section class="bg-image-style">
    <h2>{{page.heading.title}} is for</h2>
    <p>{{page.who-its-for.description_html}}</p>
</section>

<!-- Inside the Course -->
<section class="bg-image-style">
    <h2>{{page.inside-the-course.heading}}</h2>
    <p>{{page.inside-the-course.description_html}}</p>
    <ul>
        {% for item in page.inside-the-course.module %}
        <li x-data="{ open: false }" class="border-b border-white my-8">
            <button @click="open = ! open" class="flex justify-between w-full">
                <h3 class="text-left mb-8 mr-8">{{item.title}}</h3>

                <span x-show="!open">→</span>
                <span x-show="open">&nbsp;&nbsp;↓</span>
            </button>
            <div x-show="open" @click.outside="open = false">
                <p class="mb-8 mr-8 italic">{{item.description_html}}</p>
            </div>
        </li>
        {% endfor %}
    <a href="{{page.heading.button-enroll.url}}">{{page.heading.button-enroll.text}}</a>
</section>

<!-- Testimonials -->
{% include testimonials.html %}

<!-- Meet Your Teacher -->
{% if page.instructor.show == true %}
<section class="grid grid-cols-3">
    <div class="bg-image-style"></div>
    <div class="col-span-2">
        <h2>{{page.instructor.heading}}</h2>
        <p>{{page.instructor.description_html}}</p>
    </div>
</section>
{% endif %}

<!-- Investment -->
<section>
    <h2>{{page.investment.heading}}</h2>
    <div class="grid col-span-3">
        <!-- Includes -->
        <div class="col-span-2">
            <h3>{{page.investment.includes.heading}}</h3>
            <ul>
                {% for item in page.investment.includes.list %}
                <li>{{item.list-item}}</li>
                {% endfor %}
            </ul>
        </div>
        <!-- Pricing Options -->
        <div>
            <h3>{{page.investment.pricing.pay-in-full.heading}}</h3>
            <span>{{page.investment.pricing.pay-in-full.price}}</span>
            {% if page.investment.pricing.payment-plan.show == true %}
            <h3>{{page.investment.pricing.payment-plan.heading}}</h3>
            <span>{{page.investment.pricing.payment-plan.price}}</span>
            {% endif %}
        </div>
    </div>
</section>