<!DOCTYPE html>
<html lang="en">

<head>

    {% include head.html %}

</head>

<body>

    <!-- Site Header -->
    {% include mobile-nav.html %}

    {{content}}

    <!-- Footer -->
    {% include site-footer.html %}

    <!-- Cookie Banner -->
    {% include cookie-banner.html %}

    <!-- Alpine -->
    <script src="//unpkg.com/alpinejs" defer></script>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"
        integrity="sha512-AFwxAkWdvxRd9qhYYp1qbeRZj6/iTNmJ2GFwcxsMOzwwTaRwz2a/2TX225Ebcj3whXte1WGQb38cXE5j7ZQw3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Magnific Popup core JS file -->
    <script src="/magnific-popup/jquery.magnific-popup.js"></script>

    <!-- Slick -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
        integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Javascript  -->
    <script src="/main.js" defer></script>

    <!-- Video Modal Structure -->
    <div id="videoModal" class="modal" style="display: none;">
        <div class="modal-content video-modal-content">
            <span class="close video-close" style="cursor: pointer;">&times;</span>
            <iframe id="videoIframe" frameborder="0" allowfullscreen class="rounded-none w-4/5 h-[45vh] mx-auto">
            </iframe>
        </div>
    </div>

    <!-- SamCart Modal Structure -->
    <div id="samcartModal" class="modal" style="display: none;">
        <div class="modal-content samcart-modal-content">
            <span
                class="close samcart-close absolute top-3 right-[1.25rem] text-[3rem] font-[100] text-black hover:text-feature hover:duration-500 focus:outline-none">&times;</span>
            <iframe id="samcartIframe" frameborder="0" allowfullscreen class="w-full min-h-[80vh] rounded-none">
            </iframe>
        </div>
    </div>

    <!-- JavaScript to handle modals -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const videoModal = document.getElementById('videoModal');
            const samcartModal = document.getElementById('samcartModal');
            const videoIframe = document.getElementById('videoIframe');
            const samcartIframe = document.getElementById('samcartIframe');
            const videoCloseBtn = videoModal.querySelector('.video-close');
            const samcartCloseBtn = samcartModal.querySelector('.samcart-close');

            // Event delegation for all modal-trigger buttons
            document.addEventListener('click', function (event) {
                if (event.target.classList.contains('modal-trigger')) {
                    const videoSrc = event.target.getAttribute('data-src');

                    // Check if the URL is a YouTube link (for video modal)
                    if (videoSrc.includes('youtube.com') || videoSrc.includes('youtu.be')) {
                        // Open video modal
                        videoIframe.src = videoSrc;
                        videoModal.style.display = 'block';
                    } else {
                        // Open SamCart modal
                        samcartIframe.src = videoSrc;
                        samcartModal.style.display = 'block';
                    }
                }
            });

            // Close Video Modal and Clear Video
            videoCloseBtn.addEventListener('click', function () {
                videoModal.style.display = 'none';
                videoIframe.src = ''; // Clear src to stop video playback
            });

            // Close SamCart Modal and Clear Content
            samcartCloseBtn.addEventListener('click', function () {
                samcartModal.style.display = 'none';
                samcartIframe.src = ''; // Clear src to stop loading
            });

            // Optional: Close video modal on outside click
            videoModal.addEventListener('click', function (event) {
                if (event.target === videoModal) {
                    videoModal.style.display = 'none';
                    videoIframe.src = ''; // Clear src
                }
            });

            // Optional: Close SamCart modal on outside click
            samcartModal.addEventListener('click', function (event) {
                if (event.target === samcartModal) {
                    samcartModal.style.display = 'none';
                    samcartIframe.src = ''; // Clear src
                }
            });
        });

    </script>

</body>

</html>